@page "/"
<div class="splashscreen">
    <div class="hstack h-100 justify-content-center align-content-center">
        <a href="/Characters" class="btn btn-quest-accept ms-5 px-5 bounce-in-top">
            Play
        </a>
    </div>
</div>